<footer>
    <div class="footersec1">
        <a class="footersec1style" href="#footerstart">Jobs</a>
        <a class="footersec1style" href="#footerstart">AGB</a>
        <a class="footersec1style" href="#footerstart">Datenschutzerklärung</a>
        <a class="footersec1style" href="#footerstart">Impressum</a>
        <a class="footersec1style" href="#footerstart">Ethik-Hotline</a>
    </div>
    <div id="footerstart" class="footersec2">
        © 2022 Lieferhero.de
    </div>
</footer>